.logo {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSoqg1JgNUYv-MA-WDXDIGDCGbQUKx_zYvEa3PQlzrwufKzdcfM&usqp=CAU");
  background-size: contain;
  height: auto;
  width: 47px;
}
