.nav-button__button {
  border: 1px solid #09457E;
  border-radius: 5px;
  font-family: roboto;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin-top: .25em;
  padding-top: 10px;
  width: 6em;
}

.nav-button__blue-button {
  background-color: #09457E;
  color: #ffff;
}

.nav-button__white-button {
  color: #09457E;
}
